{% extends "base.html" %}

{% block title %}Home - Sentiment Analysis API{% endblock %}

{% block content %}

        <!-- Hero Section -->
        <div class="hero">
            <h1>Welcome to the Sentiment Analysis API</h1>
            <p></p>
            <button onclick="window.open('https://github.com/atef-adel-allam/Sentiment-Analysis-API-with-Flask', '_blank');">
                Learn More
            </button>
            <button onclick="window.location.href='/predict';">
                Predict Sentiment
            </button>
        </div>

        <!-- Features Section -->
        <section class="features">
            <h2>Features</h2>
            <p>Explore the capabilities that make this API powerful and efficient for real-world applications:</p>
            <div class="features-list">
                <div class="feature-item">
                    <h3>Advanced Models</h3>
                    <p>Utilizes Logistic Regression, LSTM, CNN, and BERT for state-of-the-art accuracy.</p>
                </div>
                <div class="feature-item">
                    <h3>Seamless Deployment</h3>
                    <p>Containerized with Docker to ensure portability and quick deployment.</p>
                </div>
                <div class="feature-item">
                    <h3>Real-Time Predictions</h3>
                    <p>RESTful API ready to deliver sentiment classifications instantly.</p>
                </div>
                <div class="feature-item">
                    <h3>Scalable Solution</h3>
                    <p>Designed to scale across various industries and multiple use cases.</p>
                </div>
                <div class="feature-item">
                    <h3>Cloud-Ready</h3>
                    <p>Deploy to AWS or any cloud platform with ease.</p>
                </div>
                <div class="feature-item">
                    <h3>Customizable</h3>
                    <p>Adapt the models and API to meet specific business needs and goals.</p>
                </div>
            </div>
        </section>
{% endblock %}
